{% extends "home_master.html" %}

{% block title %}
  Announcements | Bentha Technologies
{% endblock %}

{% block content %}
  <header style="background-image: url('https://img.freepik.com/premium-photo/fintech-icon-abstract-financial-technology-background_34663-91.jpg?w=2000'); background-size: cover; padding: 5px 0; display: grid; grid-template-columns: auto 1fr; gap: 20px; justify-items: center; align-items: center;">
    <i class="fas fa-bullhorn fa-3x" style="color: #007BFF;"></i>
    <div>
      <h2 style="color: #fff; font-size: 36px; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); margin: 0;">Announcements</h2>
      <p style="color: #fff; font-size: 18px; opacity: 0.8; margin-top: 10px;">Stay Informed about our business</p>
    </div>
  </header>
  <div class="paragraphs" style="background-color: #FFF; height: 100%; width: 100%; display: flex;">
    {% if announcements %}
        <ul style="list-style-type: none; padding: 0; margin: 0;">
            {% for announcement in announcements %}
                <li style="margin-bottom: 20px;">
                    <h2>{{ announcement.title }}</h2>
                    <p>{{ announcement.content }}</p>
                    <p style="font-size: large; font-weight: bold;">Announcement Type: {{ announcement.get_announcement_type_display }}</p>
                    {% if announcement.announcement_type == 'video' %}
                        <p>Video URL: <a href="{{ announcement.video_url }}" target="_blank">{{ announcement.video_url }}</a></p>
                    {% elif announcement.announcement_type != 'video' and announcement.image %}
                        <p style="text-align: center;"><img src="{{ announcement.image.url }}" alt="{{ announcement.image_description }}"></p>
                        <p style="text-align: center;">{{ announcement.image_description }}</p>
                    {% endif %}
                    {% if announcement.countdown_to %}
                        <p>Countdown to: {{ announcement.countdown_to }}</p>
                    {% endif %}
                    {% if announcement.venue %}
                        <p>Venue: {{ announcement.venue }}</p>
                    {% endif %}
                    <p>Posted on: {{ announcement.timestamp }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h1 style="background-color: #FFF; background-size: 100%;">No announcements available at the moment. Please check back later.</h1>
    {% endif %}
</div>
{% endblock %}