{% extends "home_master.html" %}

{% block title %}
  Home | Bentha Technologies
{% endblock %}

{% block content %}
    <script>
      function formatNumber(elementId) {
        var element = document.getElementById(elementId);
        if (element) {
          var formattedValue = parseFloat(element.innerText).toLocaleString();
          element.innerText = formattedValue;
        }
      }
    </script>
<section class="image-section" id="title" style="display: flex; width: 100%; flex-wrap: wrap; background-color: #e0dbdf;">
  <!-- Left column for categories -->
  <div class="left-column" style="width: 100%; max-width: 16em; min-width: 180px; flex: 0 0 auto; overflow: auto;">

      <!-- Category toggle button for mobile screens -->
      <button id="categoryToggleBtn" style="display: none;"><i class="fas fa-list"></i> Categories</button>
      <!-- Categories list -->
      <h2 id="categoriesHeading" style="text-align: left; color: #4a90e2; margin-top: 20px; font-size: 24px; font-weight: bold; margin-left: 10px;">Categories</h2>
      <ul class="category-list" id="categoryList" style="text-align: left;">
          <li style="margin-bottom: 10px; margin-left: 10px;"><a class="category-link" href="#" data-category="All" style="color: #fa0d97; text-decoration: none; font-size: 18px;">All Categories</a></li>
          {% for category in categories %}
          <li class="col-md-3 product-card" data-category="{{ category.name }}" style="margin-bottom: 12px; color: #000000; margin-left: 10px;"><a class="category-link" href="#" data-category="{{ category.name }}" style="color: #000000; text-decoration: none; font-size: 18px;">{{ category.name }}</a></li>
          {% endfor %}
      </ul>
  </div>

  <!-- Right column for images -->
  <div class="right-column" id="product-container" style="width: 82%; min-height: calc(100vh - 100px); background-color: #fff; background-image: url('https://www.tmb.kit.edu/img/content/architecture-1048092_1920.jpg'); background-size: cover; background-position: center; flex: 1; font-family: Arial, sans-serif;">
      <input type="text" id="searchInput" placeholder="Search for products..." style="text-align: center; width: 100%; max-width: 1000px; margin: 20px auto; padding: 15px; border: 2px solid #ddd; border-radius: 25px; background-color: #f9f9f9; color: #555; font-size: 18px; font-weight: bold;">
      <div class="searchResults" style="background-color: #fff; width: 100%; min-height: calc(100vh - 100px); padding: 20px; display: flex; flex-wrap: wrap; gap: 20px;">
          {% if categorized_images %}
          {% for category, images in categorized_images.items %}
          {% if images %}
          <div class="row">
              <h2 class="col-md-3 product-card" data-category="{{ category.name }}" style="text-align: center; margin-top: 15px; color: #130496; width: 100%; font-size: 24px; font-weight: bold; text-transform: uppercase; letter-spacing: 2px;">{{ category.name }}</h2>
              {% for image in images %}
              <div class="col-md-3 product-card" data-category="{{ category.name }}" style="display: flex; flex-direction: column; margin-bottom: 20px; border: 1px solid #ddd; border-radius: 10px; padding: 15px;">
                  <!-- Your image display code here -->
                  <p style="text-align: center; color: #130496; font-size: 20px; font-weight: bold; margin-bottom: 10px;">Title: {{ image.title }}</p>
                  <a href="{{ image.image.url }}" target="_blank" style="display: block; margin-bottom: 10px;">
                      <img src="{{ image.image.url }}" alt="Uploaded Image" style="width: 100%; height: 150px; border-radius: 10px;">
                  </a>
                  {% if image.about_Image %}
                  <p style="text-align: center; color: #777; font-size: 16px; margin-bottom: 10px;">{{ image.about_Image|wordwrap:40 }}</p>
                  {% endif %}
                  <p style="text-align: center; color: #777; font-size: 16px;"><strong>Uploaded At:</strong> {{ image.uploaded_at }}</p>
                  <p style="text-align: center; color: #777; font-size: 16px;"><strong>Status:</strong> {{ image.status }}</p>
                  <p style="text-align: center; color: #777; font-size: 16px;"><strong>Price:</strong> <span class="formattedNumber" data-field="price">{{ image.price|default:"" }}</span> ksh per {{ image.UnitOfMeasure }}</p>
                  <div style="margin-top: auto; text-align: center;">
                      <form method="POST" action="{% url 'login' %}?next={% url 'add_to_cart' image.id %}">
                          {% csrf_token %}
                          {% if category.name == "Programming Courses" %}
                          <button type="submit" class="custom-button" style="background-color: #3498db; color: #fff; padding: 12px 25px; border: none; border-radius: 25px; cursor: pointer; font-size: 18px; font-weight: bold;">Enroll</button>
                          {% elif category.name == "Cyber Services" %}
                          <button type="submit" class="custom-button" style="background-color: #3498db; color: #fff; padding: 12px 25px; border: none; border-radius: 25px; cursor: pointer; font-size: 18px; font-weight: bold;">Request Service</button>
                          {% else %}
                          <button type="submit" class="custom-button" style="background-color: #3498db; color: #fff; padding: 12px 25px; border: none; border-radius: 25px; cursor: pointer; font-size: 18px; font-weight: bold;">Add to Cart</button>
                          {% endif %}
                      </form>
                      <div style="margin-top: auto; text-align: center;">
                          <button onclick="showNegotiateInfo()" class="custom-button" style="background-color: #09bd09; color: #fff; padding: 12px 25px; border: none; border-radius: 25px; cursor: pointer; font-size: 18px; font-weight: bold; margin-bottom: 30px">Negotiate Price</button>
                      </div>
                      <!-- Negotiate price function -->
                      <script>
                          function showNegotiateInfo() {
                              const phoneNumber = "+254 0742309044";
                              const message = `Call ${phoneNumber} to negotiate the price.`;
                              alert(message);
                          }
                      </script>
                  </div>
              </div>
              {% if forloop.counter|divisibleby:4 %}
              <!-- Close the current row after every 4 images -->
          </div>
          <div class="row">
              {% endif %}
              {% endfor %}
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}
      </div>
  </div>
</section>


<div class="full-page-container" id="notFoundContainer" style="display: none; text-align: center; padding-top: 50px;">
  <h1 class="not-found-animation" style="color: red;">No items match your search.</h1>
  <!-- Add your "Not Found" gif here -->
  <img src="https://cdn.dribbble.com/users/595978/screenshots/3603965/media/250a710e7478f92ef5fbb41bae572d58.gif" alt="Not Found" width="100" height="100" style="margin-top: 20px;">
  <button onclick="refreshPage()" class="go-back-button" style="align-items: center; background-color: #2ecc71; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; margin-top: 20px;">Refresh</button>
</div>



<script>
    function refreshPage() {
        location.reload(); // This will reload the current page
    }
</script>

<script>
  // filter products with category
  document.addEventListener("DOMContentLoaded", function () {
    const categoryLinks = document.querySelectorAll(".category-link");
    const productCards = document.querySelectorAll(".product-card");

    categoryLinks.forEach(function (link) {
      link.addEventListener("click", function (event) {
        event.preventDefault();
        const selectedCategory = link.getAttribute("data-category");

        // Handle "All Categories" separately to show all products and categories
        if (selectedCategory === "All") {
          productCards.forEach(function (card) {
            card.style.display = "block";
          });

          categoryLinks.forEach(function (category) {
            category.style.display = "block";
          });
        } else {
          // Hide all product cards and category names except the selected one
          productCards.forEach(function (card) {
            const cardCategory = card.getAttribute("data-category");
            if (selectedCategory === "All" || cardCategory === selectedCategory) {
              card.style.display = "block";
            } else {
              card.style.display = "none";
            }
          });

          // Hide all category names except the selected one
          categoryLinks.forEach(function (category) {
            const categoryData = category.getAttribute("data-category");
            if (categoryData === selectedCategory || categoryData === "All") {
              category.style.display = "block";
            } else {
              category.style.display = "none";
            }
          });
        }
      });
    });
  });
</script>


<script>
  // JavaScript to toggle categories list visibility on mobile screens
  document.addEventListener("DOMContentLoaded", function () {
      const categoryToggleBtn = document.getElementById("categoryToggleBtn");
      const categoriesHeading = document.getElementById("categoriesHeading");
      const categoryList = document.getElementById("categoryList");

      // Show categories list and hide toggle button by default on larger screens
      if (window.innerWidth >= 768) {
          categoryToggleBtn.style.display = "none";
          categoriesHeading.style.display = "block";
          categoryList.style.display = "block";
      } else {
          categoryToggleBtn.style.display = "block";
          categoriesHeading.style.display = "none";
          categoryList.style.display = "none";
      }

      // Toggle categories list visibility when the button is clicked on mobile screens
      categoryToggleBtn.addEventListener("click", function () {
          if (categoryList.style.display === "none") {
              categoriesHeading.style.display = "block";
              categoryList.style.display = "block";
          } else {
              categoriesHeading.style.display = "none";
              categoryList.style.display = "none";
          }
      });

      // Adjust visibility of categories list and toggle button on window resize
      window.addEventListener("resize", function () {
          if (window.innerWidth >= 768) {
              categoryToggleBtn.style.display = "none";
              categoriesHeading.style.display = "block";
              categoryList.style.display = "block";
          } else {
              categoryToggleBtn.style.display = "block";
              categoriesHeading.style.display = "none";
              categoryList.style.display = "none";
          }
      });
  });
</script>

<!-- Javascript to format separate on thousand using comma -->
<script>
  // formatNumber.js

document.addEventListener('DOMContentLoaded', function () {
  var formattedNumbers = document.querySelectorAll('.formattedNumber');

  formattedNumbers.forEach(function (element) {
    var field = element.dataset.field;
    var value = element.innerText;

    if (field === 'price') {
      // Format the number for the 'price' field
      var formattedValue = parseFloat(value).toLocaleString();
      element.innerText = formattedValue;
    }

    // Add more conditions for other fields if needed
  });
});

</script>


<script>
  // JavaScript code for search functionality
  document.addEventListener("DOMContentLoaded", function () {
    const searchInput = document.getElementById("searchInput");
    const productList = document.querySelectorAll(".product-card");
    const notFoundContainer = document.getElementById("notFoundContainer");
    const leftColumn = document.querySelector(".left-column");
    const rightColumn = document.getElementById("product-container");

    searchInput.addEventListener("input", function () {
      const searchTerm = searchInput.value.trim().toLowerCase();
      let found = false;

      productList.forEach(function (product) {
        const title = product.querySelector("p strong").textContent.toLowerCase();
        const about = product.querySelector("p:nth-child(3)").textContent.toLowerCase();

        if (title.includes(searchTerm) || about.includes(searchTerm)) {
          product.style.display = "block";
          found = true;
        } else {
          product.style.display = "none";
        }
      });

      if (!found) {
        notFoundContainer.style.display = "block";
        leftColumn.style.display = "none";
        rightColumn.style.display = "none";
      } else {
        notFoundContainer.style.display = "none";
        leftColumn.style.display = "block";
        rightColumn.style.display = "block";
      }
      
      // Hide category names without associated products
      categoryLinks.forEach(function (category) {
        const categoryName = category.getAttribute("data-category");
        let categoryExists = false;
        productList.forEach(function (product) {
          const cardCategory = product.getAttribute("data-category");
          if (cardCategory === categoryName) {
            categoryExists = true;
          }
        });
        if (!categoryExists && categoryName !== "All") {
          const categoryHeader = document.getElementById(categoryName);
          if (categoryHeader) {
            categoryHeader.style.display = "none";
          }
        }
      });
    });
  });
</script>

</body>

</html>

{% endblock %}