{% extends "home_master.html" %}
{% block title %}
  Request Software | Bentha Technologies
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Request Software</h2>
        </div>
        <div class="card-body">
          <div class="alert alert-success" role="alert">
            Your software request has been successfully submitted!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
