{% extends "home_master.html" %}
{% block title %}
  Request Software | Bentha Technologies
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center" style="background-color: blue; color: white;">Request Software</h2>
        </div>
        <div class="card-body">
          <form id="softwareRequestForm" method="POST" style="margin-bottom: 20px;">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit Request</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    document.getElementById('softwareRequestForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent default form submission
    if (confirm('Are you sure you want to submit the request?')) {
        this.submit(); // Submit the form if user confirms
    } else {
        alert('Software Submission cancelled.'); // Display message if user cancels
    }
    alert('Your software development request has been submitted successfully.'); // Display message if user cancels
});
</script>
{% endblock %}
