{% extends "home_master.html" %}

{% block title %}
  Enrollment Successful | Bentha Technologies
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h1 class="text-center mb-0">Enrollment Successful!</h1>
                </div>
                <div class="card-body">
                    <p class="text-center">Thank you for enrolling with Bentha Technologies.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
